Repository flemzord/github-compliance, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, source, config, github-actions

chore: release v1.1.1
  package-lock.json
  package.json
Labels: source, config

chore: update gitignore
  .gitignore
Labels: source

feat: add GitHub API caching
  compliance-schema.json
  src/cache/__tests__/cache-manager.test.ts
  src/cache/cache-manager.ts
  src/cache/index.ts
  src/cache/memory-storage.ts
  src/cache/types.ts
  src/cli.ts
  src/config/__tests__/validator.test.ts
  src/config/schema.ts
  src/config/types.ts
  src/config/validator.ts
  src/github/__tests__/client-integration.test.ts
  src/github/client.ts
  src/github/types.ts
Labels: tests, source, config

test: increase cache coverage
  src/cache/__tests__/cache-manager.test.ts
  src/cache/__tests__/memory-storage.test.ts
Labels: tests, source

chore: lint
  src/github/__tests__/client-integration.test.ts
Labels: tests, source

fix: address cache review feedback
  compliance-schema.json
  src/cache/__tests__/cache-manager.test.ts
  src/cache/__tests__/memory-storage.test.ts
  src/cache/cache-manager.ts
  src/cache/memory-storage.ts
  src/cache/types.ts
  src/config/__tests__/validator.test.ts
  src/config/schema.ts
  src/config/validator.ts
  src/github/__tests__/client-integration.test.ts
  src/github/client.ts
Labels: tests, source, config

feat: add GitHub API caching (#12)
  .gitignore
  compliance-schema.json
  src/cache/__tests__/cache-manager.test.ts
  src/cache/__tests__/memory-storage.test.ts
  src/cache/cache-manager.ts
  src/cache/index.ts
  src/cache/memory-storage.ts
  src/cache/types.ts
  src/cli.ts
  src/config/__tests__/validator.test.ts
  src/config/schema.ts
  src/config/types.ts
  src/config/validator.ts
  src/github/__tests__/client-integration.test.ts
  src/github/client.ts
  src/github/types.ts
Labels: tests, source, config

docs: add instructions for adding new compliance checks in README
  README.md
Labels: documentation, source

docs: add instructions for adding new compliance checks in README (#14)
  README.md
Labels: documentation, source

feat: scaffold team sync preview
  src/checks/__tests__/team-sync.test.ts
  src/checks/index.ts
  src/checks/team-sync.ts
  src/config/schema.ts
  src/config/types.ts
  src/index.ts
  src/runner/__tests__/check-registry.test.ts
  src/runner/check-registry.ts
  src/teams/__tests__/team-manager.test.ts
  src/teams/diff.ts
  src/teams/dynamic.ts
  src/teams/index.ts
  src/teams/manager.ts
  src/teams/sync.ts
  src/teams/types.ts
Labels: tests, source

test: cover teams schema and sync scaffolding
  src/config/__tests__/teams-schema.test.ts
  src/teams/__tests__/diff.test.ts
  src/teams/__tests__/dynamic.test.ts
  src/teams/__tests__/sync.test.ts
Labels: tests, source

refactor: run team sync before repo checks
  src/runner/__tests__/check-registry.test.ts
  src/runner/check-registry.ts
Labels: tests, source

refactor: rename compliance checks with org/repo prefixes
  AGENTS.md
  README.md
  compliance-config.example.yml
  docs/configuration-reference.md
  src/__tests__/cli.test.ts
  src/checks/__tests__/archived-repos.test.ts
  src/checks/__tests__/branch-protection.test.ts
  src/checks/__tests__/merge-methods.test.ts
  src/checks/__tests__/security-scanning.test.ts
  src/checks/__tests__/team-permissions.test.ts
  src/checks/archived-repos.ts
  src/checks/branch-protection.ts
  src/checks/merge-methods.ts
  src/checks/security-scanning.ts
  src/checks/team-permissions.ts
  src/checks/team-sync.ts
  src/cli.ts
  src/config/__tests__/validator.test.ts
  src/config/schema.ts
  src/runner/__tests__/check-registry.test.ts
  src/runner/__tests__/runner.test.ts
  src/runner/check-registry.ts
  src/runner/index.ts
Labels: documentation, tests, source, config

feat: implement organization team synchronization
  src/cache/types.ts
  src/checks/__tests__/team-sync.test.ts
  src/checks/team-sync.ts
  src/github/client.ts
  src/github/types.ts
  src/teams/__tests__/diff.test.ts
  src/teams/__tests__/dynamic.test.ts
  src/teams/__tests__/sync.test.ts
  src/teams/__tests__/team-manager.test.ts
  src/teams/diff.ts
  src/teams/dynamic.ts
  src/teams/manager.ts
  src/teams/sync.ts
  src/teams/types.ts
Labels: tests, source

fix: mark team sync as non-compliant when changes detected
  src/checks/__tests__/team-sync.test.ts
  src/checks/team-sync.ts
Labels: tests, source

types: tighten dynamic team rule definitions
  src/config/types.ts
  src/teams/__tests__/dynamic.test.ts
  src/teams/dynamic.ts
Labels: tests, source

feat: add repository settings compliance check
  README.md
  compliance-config.example.yml
  compliance-schema.json
  docs/configuration-reference.md
  src/checks/__tests__/repository-settings.test.ts
  src/checks/index.ts
  src/checks/repository-settings.ts
  src/checks/types.ts
  src/cli.ts
  src/config/schema.ts
  src/config/types.ts
  src/config/validator.ts
  src/github/__tests__/client-integration.test.ts
  src/github/client.ts
  src/github/types.ts
  src/runner/__tests__/check-registry.test.ts
  src/runner/check-registry.ts
Labels: documentation, tests, source, config

test: add repository visibility coverage
  src/config/__tests__/validator.test.ts
Labels: tests, source

fix: address repository settings review feedback
  compliance-config.example.yml
  compliance-schema.json
  docs/configuration-reference.md
  src/checks/__tests__/repository-settings.test.ts
  src/checks/repository-settings.ts
  src/config/schema.ts
  src/config/types.ts
Labels: documentation, tests, source, config

chore: rebase and fix
  README.md
  compliance-config.example.yml
  docs/configuration-reference.md
  src/checks/repository-settings.ts
  src/cli.ts
  src/config/schema.ts
  src/runner/__tests__/check-registry.test.ts
  src/runner/check-registry.ts
Labels: documentation, tests, source, config

feat: add repository settings compliance check (#13)
  README.md
  compliance-config.example.yml
  compliance-schema.json
  docs/configuration-reference.md
  src/checks/__tests__/repository-settings.test.ts
  src/checks/index.ts
  src/checks/repository-settings.ts
  src/checks/types.ts
  src/cli.ts
  src/config/__tests__/validator.test.ts
  src/config/schema.ts
  src/config/types.ts
  src/config/validator.ts
  src/github/__tests__/client-integration.test.ts
  src/github/client.ts
  src/github/types.ts
  src/runner/__tests__/check-registry.test.ts
  src/runner/check-registry.ts
Labels: documentation, tests, source, config

chore: release v1.2.0
  package.json
Labels: source, config

chore: release v1.2.0 (#16)
  package.json
Labels: source, config

feat: Add GitHub compliance schema with team sync
  compliance-schema.json
  package.json
  scripts/generate-json-schema.ts
Labels: source, config

feat: add skip_checks option to exclude repositories from compliance
  compliance-config.example.yml
  compliance-schema.json
  package-lock.json
  src/checks/__tests__/base.test.ts
  src/checks/base.ts
  src/cli.ts
  src/config/types.ts
  src/test/test-types.ts
Labels: tests, source, config

chore(deps): update dependencies to latest versions
  package-lock.json
Labels: source, config

fix: add skip_checks to schema generation sources
  biome.json
  scripts/generate-json-schema.ts
  src/config/schema.ts
Labels: source, config

chore: exclude generated schema from biome formatting
  biome.json
Labels: source, config

chore: bump version to 1.3.0
  package.json
Labels: source, config

fix: ensure skip_checks is honored by all compliance checks
  src/checks/archived-repos.ts
  src/checks/branch-protection.ts
  src/checks/merge-methods.ts
  src/checks/repository-settings.ts
  src/checks/security-scanning.ts
  src/checks/team-permissions.ts
  src/checks/team-sync.ts
Labels: source

chore: release v1.4.0
  package.json
Labels: source, config

feat: multi-pattern branch protection and language-based rule matching
  compliance-config.example.yml
  compliance-schema.json
  package-lock.json
  package.json
  scripts/generate-json-schema.ts
  src/checks/base.ts
  src/checks/branch-protection.ts
  src/config/__tests__/validator.test.ts
  src/config/schema.ts
  src/config/types.ts
  src/config/validator.ts
Labels: tests, source, config

style: fix biome formatting in branch-protection and validator test
  src/checks/branch-protection.ts
  src/config/__tests__/validator.test.ts
Labels: tests, source

test: add coverage for multi-pattern branch_protection and language matching
  src/config/__tests__/validator.test.ts
Labels: tests, source

chore: upgrade dependencies
  biome.json
  knip.json
  package-lock.json
  package.json
  src/logging/index.ts
Labels: source, config

ci: switch to npm trusted publishers (OIDC)
  .github/workflows/ci.yml
Labels: source, github-actions

fix: update npm in release job for OIDC trusted publisher support
  .github/workflows/ci.yml
Labels: source, github-actions

.github/labeler.yml:

# Simple labeler configuration
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**']

tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.test.ts', '**/__tests__/**']

source:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.test.ts']

config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', 'tsconfig.json', 'biome.json']

github-actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**']
