Repository flemzord/github-compliance, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, source, config, github-actions

.github/labeler.yml:

# Simple labeler configuration
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**']

tests:
  - changed-files:
    - any-glob-to-any-file: ['**/*.test.ts', '**/__tests__/**']

source:
  - changed-files:
    - any-glob-to-any-file: ['src/**/*.ts', '!src/**/*.test.ts']

config:
  - changed-files:
    - any-glob-to-any-file: ['*.json', '*.yml', '*.yaml', 'tsconfig.json', 'biome.json']

github-actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**']

fix: Correct compliance config example to match schema
  compliance-config.example.yml
Labels: source, config

chore: update Node.js versions in CI workflow
  .github/workflows/ci.yml
Labels: source, github-actions

docs: Add comprehensive configuration reference documentation
  README.md
  docs/configuration-reference.md
Labels: documentation, source

fix: Add compiled dist files for GitHub Action
  .gitignore
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/sourcemap-register.js
Labels: source

feat: Add GitHub Actions workflow for publishing immutable action version
  .github/workflows/publish-immutable-actions.yml
Labels: source, github-actions

chore: Update .gitignore to include coverage-base directory
  .gitignore
Labels: source

feat: Implement compliance runner and add CLI tool
  compliance-report.md
  package.json
  src/cli.ts
  src/config/validator.ts
  src/main.ts
  test-compliance.yml
Labels: documentation, source, config

fix: Correctly handle team permissions and direct collaborators
  compliance-report.md
  src/checks/__tests__/team-permissions.test.ts
  src/checks/team-permissions.ts
  src/github/client.ts
  test-direct-collaborators.js
Labels: documentation, tests, source

feat: comprehensive compliance action improvements
  .gitignore
  README.md
  compliance-report.md
  package.json
  src/__mocks__/@octokit/rest.js
  src/checks/__tests__/base.test.ts
  src/checks/__tests__/branch-protection.test.ts
  src/checks/branch-protection.ts
  src/checks/team-permissions.ts
  src/cli.ts
  src/github/client.ts
  src/main.test.ts
  test-direct-collaborators.js
Labels: documentation, tests, source, config

chore: Update .gitignore and jest.config.js for improved coverage settings
  .gitignore
  jest.config.js
  src/main.ts
Labels: source

feat: update main entry point and add tests
  knip.json
  src/index.ts
  src/main.test.ts
  src/main.ts
Labels: tests, source, config

fix: update integration testing references and clean up project structure
  CLAUDE.md
  knip.json
  src/config/validator.ts
  src/main.test.ts
  test-direct-collaborators.js
Labels: documentation, tests, source, config

chore: remove dry-run test action from CI workflow
  .github/workflows/ci.yml
Labels: source, github-actions

chore: remove publish immutable action workflow
  .github/workflows/publish-immutable-actions.yml
Labels: source, github-actions

chore: update package description for compliance action
  package.json
Labels: source, config

fix: update main entry point in action.yml
  action.yml
Labels: source, config

chore: rename action and add repository information
  package.json
Labels: source, config

feat: enhance CI workflow for NPM publishing
  .github/workflows/ci.yml
Labels: source, github-actions

chore: rename package for scoped naming
  package.json
Labels: source, config

chore: refactor to CLI and remove GitHub Action files
  CLAUDE.md
  README.md
  action.yml
  docs/configuration-reference.md
  knip.json
  package-lock.json
  package.json
  src/checks/__tests__/archived-repos.test.ts
  src/checks/__tests__/branch-protection.test.ts
  src/checks/__tests__/merge-methods.test.ts
  src/checks/__tests__/security-scanning.test.ts
  src/checks/__tests__/team-permissions.test.ts
  src/checks/archived-repos.ts
  src/checks/branch-protection.ts
  src/checks/merge-methods.ts
  src/checks/security-scanning.ts
  src/checks/security-scanning.ts.backup
  src/checks/team-permissions.ts
  src/cli.ts
  src/config/validator.ts
  src/github/__tests__/client-integration.test.ts
  src/github/client.ts
  src/index.ts
  src/logging/index.ts
  src/main.test.ts
  src/main.ts
  src/runner/index.ts
  src/test/test-types.ts
Labels: documentation, tests, source, config

chore: update CLI command name in package.json and documentation
  README.md
  package.json
  src/cli.ts
Labels: documentation, source, config

feat: add vulnerability alerts and secret scanning management to GitHub client
  src/github/client.ts
Labels: source

feat: implement enhanced CLI UI/UX with real-time progress tracking
  jest.config.js
  package-lock.json
  package.json
  src/__mocks__/chalk.js
  src/__mocks__/cli-table3.js
  src/__mocks__/log-update.js
  src/__mocks__/ora.js
  src/cli.ts
  src/github/client.ts
  src/logging/compact-renderer.ts
  src/logging/index.ts
  src/logging/progress-logger.ts
  src/logging/types.ts
  src/runner/index.ts
Labels: source, config

fix: suppress API 403 errors and improve compact renderer display
  src/checks/__tests__/security-scanning.test.ts
  src/checks/security-scanning.ts
  src/github/client.ts
  src/logging/compact-renderer.ts
Labels: tests, source

fix: stabilize compact renderer display to prevent flickering
  src/logging/compact-renderer.ts
Labels: source

fix: suppress stderr output in compact mode to prevent API error messages
  src/logging/compact-renderer.ts
Labels: source

chore: update .gitignore to include dist and compliance-report files
  .gitignore
Labels: source

feat: enhance CLI with subcommands for compliance checks and validation
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  compliance-schema.json
  examples/compliance-with-schema.yml
  package-lock.json
  package.json
  src/__tests__/cli.test.ts
  src/cli.ts
  src/config/validator.ts
Labels: documentation, tests, source, config, github-actions

feat: enhance CLI validation UI with colors and improved formatting
  compliance-config.example.yml
  compliance-schema.json
  docs/configuration-reference.md
  package-lock.json
  package.json
  src/__mocks__/chalk.js
  src/__tests__/cli.test.ts
  src/__tests__/no-checks-config.yml
  src/checks/__tests__/team-permissions.test.ts
  src/checks/team-permissions.ts
  src/cli.ts
  src/config/schema.ts
  src/config/types.ts
  src/config/validator.ts
  src/github/client.ts
  src/logging/index.ts
Labels: documentation, tests, source, config

feat: add available compliance checks section to README
  README.md
Labels: documentation, source

chore: clean up redundant example files and folders
  compliance-config.example.yml
  example/.github/compliance.yml
  examples/compliance-with-schema.yml
  test-compliance.yml
Labels: source, config

test: add coverage for logging utilities
  src/logging/__tests__/compact-renderer.test.ts
  src/logging/__tests__/progress-logger.test.ts
Labels: tests, source

chore: add pre-commit hook for linting and testing
  package.json
Labels: source, config

docs: add AGENTS.md for repository guidelines and CLI usage
  AGENTS.md
  CLAUDE.md
Labels: documentation, source

test: update coverage thresholds for config files
  jest.config.js
Labels: source

test: extend config validator coverage help
  src/config/__tests__/validator.test.ts
Labels: tests, source

chore: bump version to 1.1.0
  package.json
Labels: source, config

docs: update README with new configuration options
  README.md
Labels: documentation, source

fix: honor required reviews branch protection config
  src/checks/__tests__/branch-protection.test.ts
  src/checks/branch-protection.ts
Labels: tests, source

fix: flag missing status check contexts for protection
  src/checks/__tests__/branch-protection.test.ts
  src/checks/branch-protection.ts
Labels: tests, source
